
:root {
    --background: #0b1220;
    --glass-bg:rgba(134, 153, 190, 0.623);

    --glass-sidebar:rgba(255, 255, 255, 0.06);

    --foreground: #f9fafb;
    --border: #1f2937;
    --input: #020617;
    --primary: #38bdf8;
    --primary-foreground: #020617;
    --secondary: #111827;
    --secondary-foreground: #e5e7eb;
    --muted: #020617;
    --muted-foreground: #7d818b;
    
    --success: #22c55e;
    --success-foreground: #0de667;

    --overlay:#d3dae373;

    --accent: #38bdf8;
    --accent-foreground: #020617;
    --destructive: #ef4444;
    --destructive-foreground: #fef2f2;
    --warning: #f59e0b;
    --warning-foreground: #0c49cc;

    --card:transparent;
    --card-foreground: #f9fafb;
    --sidebar: #020617;
    --sidebar-foreground: #e5e7eb;
    --sidebar-primary: #111827;
    --sidebar-primary-foreground: #e5e7eb;
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --font-family-body: Inter,Arial;
    --tag-background:rgba(255, 255, 255, 0.1);
    body {
        background:var(--background);
    }
}

.lightmode{
    --background: #5c91f180;

    --glass-bg:rgba(74, 85, 107, 0.623);
    --glass-bg:rgba(139, 142, 235, 0.623);
    --glass-bg:rgba(99, 200, 211, 0.257);


    --foreground: #000000;
    --border: #678abb;
    --input: #020617;
    --primary: #38bdf8;
    --primary-foreground: #020617;
    --secondary: #4568b4;
    --secondary-foreground: #4f5665;
    --muted: #44485f;
    --muted-foreground: #332f5bdb;

    --success: #22c55e;
    --success-foreground: #0de667;

    --success: #0b8a3a;
    --success-foreground: #01ad40;

    --accent: #38bdf8;
    --accent-foreground: #020617;
    --destructive: #ec0505;
    --destructive-foreground: #fef2f2;
    --warning: #f59e0b;
    --warning-foreground: #0c49cc;
    --card:transparent;
    --card-foreground: #f9fafb;
    --sidebar: #3a5ae9;
    --sidebar-foreground: #e5e7eb;
    --sidebar-primary: #111827;
    --sidebar-primary-foreground: #e5e7eb;
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --font-family-body: Inter,Arial;
    --tag-background:rgb(9 31 96 / 22%); 
    --text-black:black;
    color:var(--foreground);
    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color:var(--foreground);
    }
    .job-card.sponsored {
        color:white;
        .btn,
        .btn-outline,
         p,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color:white;
        }
    }
    .logo-area{
        color: var(--foreground);
    }
    .pagination a{
        background:var(--accent-foreground);
    }
    .btn-secondary{
        color:var(--foreground);
    }
    .badge{
        background:var(--accent-foreground);
        color: var(--success);
    }
    .btn{
        color:var(--accent-foreground);
    }
    .profile-container {
        a,
        div,
        span,
        button,
        p{
         color:var(--destructive-foreground);
        }
        
    }
    .btn-secondary {
        color:white;
    }
    .date-divider {
        backdrop-filter:15px;
        background-color:transparent;
    }
    .search-bar {
        background-color:var(--muted-foreground);
        color:white;
    }
    .conv-search{
        color:white;
    }
    .tag{
        color:var(--input);
    }
    .glass-card{
        background-color: var(--glass-bg);
        backdrop-filter:blur(13px);
        
    }
    .settings-item:hover {
        background-color:#a39d9d11 ;
    }
    .menu-card{
        color:var(--accent-foreground);
    }
}

.colorize {
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background: linear-gradient(45deg, var(--background) 0%, #045c4dad 30%,#020144b9 100%);
}
.colorize2 {
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background: linear-gradient(45deg, var(--background) 0%, #e2090991 30%,#6deb06b9 60%,rgba(50, 3, 218, 0.651) 100%); 
}
.colorize3 {
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background: linear-gradient(45deg, var(--background) 0%, #2fbda5ad 30%,#300a5cb9 100%);   
}