{% extends "../settings.html" %}

{% block pagename %} settings {% endblock pagename %}

{% block center_feed_content %}

<div class="content-container">

<h2 class="page-title">Notifications</h2>

<div class="settings-group glass-card">

<label class="settings-item">
<input type="checkbox" checked>
<div class="item-content">
<div class="item-title">Job Alerts</div>
</div>
</label>

<label class="settings-item">
<input type="checkbox" checked>
<div class="item-content">
<div class="item-title">Application Updates</div>
</div>
</label>

<label class="settings-item">
<input type="checkbox">
<div class="item-content">
<div class="item-title">Messages</div>
</div>
</label>

</div>

</div>

{% endblock %}