{% load static %}
{% load my_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Kenya Teaching Vacancies{% endblock title %}</title>

  <!-- Fonts (Mac-like: Inter, DM Sans) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  
  <!-- Global CSS -->
  <link rel="stylesheet" href="{% static 'styling/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'styling/index.css' %}">
  <link rel="stylesheet" href="{% static 'styling/jobfeedlayout.css' %}">

  <!-- header svg  -->
  <link rel="icon" viewBox="0 0 100 100" type="image/svg+xml" href="{% static 'images/logo/ktvlogo.png' %}">

  {% block headeradditionalcss %}{% endblock headeradditionalcss %}

</head>

<body id='body' >
  <!-- Top Navigation -->
  <nav class="top-nav glass">
    <div class="logo-area">
      <img src="{% static 'images/logo/ktvlogo.png' %}" alt="KTV" class="site-logo" style="width:54px;height:54px">
      <span class="logo-text">Kenya Teaching Vacancies</span>
    </div>
    <div class="themer dark">
      <i class="fa fa-moon-o"></i> 
    </div>

<div id="overlay"></div> 

<!-- For dimming background -->

    <div class="nav-links">
      <a href='/jobs/jobfeed'>Feed</a>
      <a href='/jobs/premiumurgent'>Quick Jobs</a>
      <a href='/schools/schoolsfeed'>Schools</a>
      <a href='/schools/blog'>Blog</a>
      <div class="auth-buttons">
        {% if user.is_authenticated %}
        <a href="/logout" class="btn btn-outline">Log Out <br>{{ user.username.capitalize }}</a>
        {% else %}
        <a href="/login" class="btn btn-outline">Log In</a>
        {% endif %}
        {% comment %} <a href="/jobs/postjob" class="btn btn-primary">Post a Job</a> {% endcomment %}
      </div>
    </div>


  </nav>

  <div class="
  
  {% if user.is_authenticated %}  
    app-container
  {% else %}
    app
  {% endif %}
  ">
    <!-- Left Sidebar -->
    
    {% if user.is_authenticated %}

      <aside class="sidebar-left scrollview">
              
        {% include "components/navmenu.html" %}
        {% block leftsideaddition %}
        {% include "components/filters.html" %}
        {% endblock leftsideaddition %}
      </aside>
    {% else %}
      <div></div>
    {% endif %}
      

    <!-- Center Feed -->
    <main class="feed-container scrollview">
      <div class ="content-forwarder">


      {% block center_feed_content %}



        {% include "components/herosearchcard.html" %}

        {% if search_results %}
          {% include "components/searchresults.html" %}
        {% else %}
          
          {% for job in promoted_jobs %}
            {% include "components/promotedjobcard.html" %}
          {% endfor %}
            
          {% for job in jobs_page.object_list %}
            {% if job.is_featured %}
              {% include "components/featuredjobcard.html" %}
            {% endif %}
           
            {% include "components/standardjobcard.html" %}
          {% endfor %}
          {% rename_var jobs_page as items_page %}
          {% include 'components/pagination.html' %}
        {% endif %}


        
      {% endblock center_feed_content %}


      </div>
      
    </main>
    
    <!-- Right Sidebar -->
    
    {% if user.is_authenticated %}
      <aside class="sidebar-right scrollview">
        {% block rightsidebar %}
          {% include "components/editprofilereminder.html" %}
          {% include "components/trending.html" %}
        {% endblock rightsidebar %}

        
        <div class="footer-links">
          <a href="#">Privacy</a> •
          <a href="#">Terms</a> •
          <a href="#">Pricing</a> •
          <a href="#">Contact</a>
          <br>© 2024 Kenya Teaching Vacancies
        </div>
      </aside>
    {% else %}
      <div></div>
    {% endif %}
      
  </div>

  <!-- Scripts -->
  <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
  <script src="{% static 'javascript/index.js' %}" type="module"></script>

  <!-- Page Identifier -->
  <input type="hidden" class="pagename" value="{% block pagename %}home{% endblock pagename %}">
</body>

</html>
