{% extends 'jobfeed.html' %}
{% load my_tags %}


{% block center_feed_content %}


    {% block jobsearchbar %}
        {% include 'components/jobsearchbar.html' %}
    {% endblock jobsearchbar %}

    {% for item in search_page.object_list  %}
        
        {% if item.is_job %}
            
            {% rename_var item as job  %}
            {% include "components/standardjobcard.html" %}
                
        {% endif %}

        
        {% if item.is_county %}
            <div class="btn widget menucard glass">
                {{item.title.capitalize}}
            </div>

        {% endif %}
            
        
        {% if item.is_school %}
            <h1>School : {{item.name}}</h1>
        {% endif %}
            
            
    {% endfor %}
    
    {% rename_var search_page as items_page %}
    {% include 'components/pagination.html' %}
{% endblock center_feed_content %}
