/* jobfeedlayout.css */
@import url('root3.css');

.nav-fixed {
position: fixed;
top: 0;
left: 0;
right: 0;
height: var(--nav-height);
background: var(--background);
border-bottom: 1px solid var(--border);
z-index: 50;
display: flex;
align-items: center;
justify-content: center;
}

.nav-content {
width: 100%;
max-width: 1440px;
padding: 0 var(--gap);
display: flex;
align-items: center;
justify-content: space-between;
}

.card {
background: var(--card);
border: 1px solid var(--border);
border-radius: var(--radius-lg);
color: var(--card-foreground);
}

.story-ring {
padding: 3px;
border-radius: 50%;
border: 2px solid var(--primary);
}

.btn-icon {
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background 0.2s;
}

.btn-icon:hover {
background-color: var(--muted);
}

.sidebar-link {
display: flex;
align-items: center;
gap: 12px;
padding: 12px 16px;
border-radius: var(--radius-md);
font-weight: 500;
color: var(--muted-foreground);
transition: all 0.2s;
cursor: pointer;
}

.sidebar-link:hover,
.sidebar-link.active {
background-color: var(--secondary);
color: var(--secondary-foreground);
}

.feed-grid {
display: flex;
flex-direction: column;
gap: 20px;
}

.job-card {
    margin-top: 10px;
}

.job-card-header {
display: flex;
align-items: center;
gap: 12px;
padding: 16px;
}

.job-card-body {
padding: 0 16px 16px;
}

.job-card-footer {
padding: 12px 16px;
border-top: 1px solid var(--border);
display: flex;
justify-content: space-between;
align-items: center;
}

.tag {
padding: 4px 12px;
border-radius: 999px;
font-size: 12px;
font-weight: 500;
background-color: var(--secondary-foreground);
color: var(--text-light);
}


.verified-badge {
color: var(--primary);
margin-left: 4px;
}


